# LEGACY DEPS - WILL UNCOMMENT AS THINGS ARE CONFIRMED NECESSARY
setuptools
wheel
Red-DiscordBot[postgres]
prettytable
romkan
google-api
google-api-python-client
google-cloud
google-cloud-texttospeech
pymysql
ply
opencv-python
Pillow
pytz
aiohttp
oauth2client
