# LEGACY DEPS - WILL UNCOMMENT AS THINGS ARE CONFIRMED NECESSARY
setuptools
wheel
Red-DiscordBot[postgres]
prettytable
git+git://github.com/TsubakiBotPad/python-romkan
pymysql
ply
opencv-python
Pillow
pytz
aiohttp
aiofiles
aioodbc
networkx
