# LEGACY DEPS - WILL UNCOMMENT AS THINGS ARE CONFIRMED NECESSARY
setuptools
wheel
Red-DiscordBot[postgres]

#python-dateutil
#pytz
#twython
#feedparser
#tabulate
#pypng
#padtools
#opencv-python
#Pillow
#setuptools
#google-cloud
#google-api
#backoff
#dill
#prettytable
#ply
#aiohttp
#discord
